*{
    margin:0;
    padding:0;
}
#box{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4257d3;
    text-align: center;
}
p{
    color: white;
    font-size: 1.2rem;
    margin-top: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}